<h2 class="page-title text-center my-4 mt-5 mb-5">Cadastrar Novo Projeto</h2>

<div class="form-container project-form">
  <div class="row justify-content-center">
    <div class="col-12">
      <%= render partial: 'form_new', locals: { researcher: @researcher, project: @project, notices: @notices, coordinators: @coordinators } %>
    </div>
  </div>
</div>