<div class="edit-profile-container container my-5">
  <h2 class="page-title text-center mt-5 mb-5">Editar Perfil</h2>
</div>
<div class="form-container">
  <%= render partial: "form_edit", locals: { researcher: @researcher } %>
</div>