<div class="error-page d-flex flex-column align-items-center justify-content-center text-center">
  <h1 class="error-code mt-5">404</h1>
  <h2 class="error-message">Página Não Encontrada</h2>
  <p class="error-description">
    A página que você está tentando acessar não existe ou foi movida.
  </p>
  <%= link_to "Voltar à página inicial", root_path, class: "btn-error btn-modern" %>
</div>
